
<mat-card style="max-width: 600px; min-width: 450px; margin: 0 auto; margin-top: 10%;">
	<div *ngIf="tab == 'login' || tab == 'register'">
		<form [formGroup]="form">
			<mat-tab-group mat-stretch-tabs (selectedTabChange)="loginTabClick($event);reset()">
				<mat-tab label="Login"></mat-tab>
				<mat-tab label="Register"></mat-tab>
			</mat-tab-group>
			<div *ngIf="tab=='login'">
				<mat-form-field class="example-full-width">
					<input required matInput placeholder="Username" 
					[(ngModel)]="username" formControlName="username">
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input type="password" required matInput placeholder="Password" 
					[(ngModel)]="password" formControlName="password">
				</mat-form-field>
				<mat-error *ngIf="form.get('username').hasError('required')">
					Username required
				</mat-error>
			</div>
			<div *ngIf="tab=='register'">
				<mat-form-field class="example-full-width">
					<input required matInput placeholder="Username" 
					[(ngModel)]="username" formControlName="username">
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Email" 
					[(ngModel)]="email" formControlName="email">
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Name" 
					[(ngModel)]="name" formControlName="name">
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Date of Birth" 
					[(ngModel)]="dob" formControlName="dob">
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Phone" 
					[(ngModel)]="phone" formControlName="phone">
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input type="password" required matInput placeholder="Password" 
					[(ngModel)]="password" formControlName="password">
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input type="password" required matInput placeholder="Confirm password"
					[(ngModel)]="confirmPassword" formControlName="confirmPassword">
				</mat-form-field>
				<mat-error *ngIf="form.get('username').hasError('required')">
					Username required
				</mat-error>
				<mat-error *ngIf="confirmPassword != password">
					Password is not matched.
				</mat-error>
			</div>
		</form>
		<div class="centerlize">
			<button *ngIf="tab=='login'" mat-raised-button [disabled]="!form.valid" color="primary" (click)="login()">Login</button>
			<button *ngIf="tab=='register'" mat-raised-button [disabled]="!form.valid" color="primary" (click)="register()">Register</button>
		</div>
	</div>
	<div *ngIf="tab='info'">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Username</label>
			<div class="col-sm-10 col-form-label">
				{{username}}
			</div>
			<label class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10 col-form-label">
				{{name}}
			</div>
			<label class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-10 col-form-label">
				{{email}}
			</div>

			<label class="col-sm-2 col-form-label">Phone</label>
			<div class="col-sm-10 col-form-label">
				{{phone}}
			</div>

			<label class="col-sm-2 col-form-label">Date of Birth</label>
			<div class="col-sm-10 col-form-label">
				{{dob}}
			</div>
		</div>
	</div>
</mat-card>

<mat-card>

</mat-card>