<!-- <div class="middleDiv1">
	<mat-card>
			<form>
					<div class="form-group row">
							<label class="col-sm-2 col-form-label biggerSize">Email</label>
							<div class="col-sm-10">
									<mat-form-field appearance="outline" style="width: 100%;">
											<mat-label>Email Address</mat-label>
											<input matInput placeholder="Email Address" required
											formControlName="email" [(ngModel)]="email" name="email">
											<mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
													Please enter a valid email address
											</mat-error>
											<mat-error *ngIf="form.get('email').hasError('required')">
													Required field
											</mat-error>
									</mat-form-field>
							</div>
					</div>

					<div class="form-group row">
							<label class="col-sm-2 col-form-label biggerSize">Password</label>
							<div class="col-sm-10">
									<mat-form-field appearance="outline" style="width: 100%;">
											<mat-label>Password</mat-label>
											<input type="password" matInput placeholder="Password" required
											[(ngModel)]="password" name="password" formControlName="password">
											<mat-error *ngIf="form.get('password').hasError('required')">
													Required field
											</mat-error>
									</mat-form-field>
							</div>
					</div>
					<mat-error *ngIf="errorMessage != ''" style="text-align: center">
							{{errorMessage}}
					</mat-error>
			</form>
			<div class="centerlize">
					<button mat-raised-button color="primary" [disabled]="!form.valid" (click)="login()">Login</button>
					<button mat-raised-button (click)="forgotPass()">Forgot Password?</button>
			</div>
	</mat-card>
</div> -->



<mat-card style="max-width: 600px; min-width: 450px; margin: 0 auto; margin-top: 10%;">
	<form>
		<mat-tab-group mat-stretch-tabs (selectedTabChange)="loginTabClick($event);reset()">
			<mat-tab label="Login"></mat-tab>
			<mat-tab label="Register"></mat-tab>
		</mat-tab-group>
		<div *ngIf="tab=='login'">
			<mat-form-field class="example-full-width marginTop10">
				<input required matInput placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input type="password" required matInput placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
			</mat-form-field>
		</div>
		<div *ngIf="tab=='register'">
			<mat-form-field class="example-full-width marginTop10">
				<input required matInput placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input type="password" required matInput placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input type="password" required matInput placeholder="Confirm password">
			</mat-form-field>
		</div>
	</form>
	<div class="centerlize">
		<button *ngIf="tab=='login'" mat-raised-button color="primary" (click)="login()">Login</button>
		<button *ngIf="tab=='register'" mat-raised-button color="primary" (click)="register()">Register</button>
	</div>
</mat-card>