.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  background-color: azure;
  align-self: center;
}

.example-full-width {
  width: 100%;
}

.centerlize {
  justify-content: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.marginTop10 {
  margin-top: 10px;
}